fastapi  # API framework
uvicorn  # API deployment tool
requests-async  # HTTP external data sources
beautifulsoup4  # HTML/XML parser for HTTP & WSDL external data sources
lxml  # XML parser used by BeautifulSoup
roman  # Check for roman numbers in string chunks
python-dotenv  # dotenv setting files
git+https://github.com/David-Lor/PyBuses.git#egg=pybuses  # PyBuses
cachetools  # TTLCache
asyncache  # cached decorator for async functions
